.display-info-container {
    display: flex;
    
    align-items: center;

    column-gap: 15px;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;

    margin: 0;
    padding: 0;
}

.cell {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    user-select: none;

    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;

    border-right: 1px solid #6b6b6b;
    border-bottom: 1px inset #6b6b6b;


    background-color: #9f9f9f;

    position: relative;
}

.valid {
    color: #003600 !important;
}

.highlight {
    background-color: #3dd83d !important;
}
.checked.valid {
    background-color: #cecece;
}